@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&family=Rammetto+One&display=swap');

body{
    background-color: #FDF6F6;

}

#aboutnav{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-top: 30%;
    text-align: center;
}

#abouth1{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  padding-bottom: 25px;
}

h2{
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 40px; 
}

#pa{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    font-size: 35px;
    padding-top: 40px;
}

#homenav{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#hh1{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 90px;
  padding-top: 10%;
  color: #A1AF5D;
}

iframe{
    width: 1400px;
    height: 800px;
}

#snav{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
