@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&family=Rammetto+One&display=swap');

body{
    background-color: #FDF6F6;

}

#aboutnav{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-top: 10%;
    text-align: center;
}

#abouth1{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  padding-bottom: 25px;
  color:#A1AF5D;
}

h2{
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px; 
}

#pa{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    font-size: 35px;
    padding-top: 40px;
    margin: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

#homenav{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #AD1B20;
}

#hh1{
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 90px;
  padding-top: 10%;
  color: #A1AF5D;
}

iframe{
    width: 1400px;
    height: 800px;
}

#snav{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: inline;
    z-index: 9999;
    display: inline;
    
}

nav{
    text-decoration: none;
    
}

a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: inline;
}

h3{
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px; 
    z-index: 6;
}

div{
    display: flex;
    justify-content: center;
    margin: auto;

}

#next{
    padding-left: 60%;
}

#prev{
    padding-left: 200px;
}

script{
    position: absolute;
    z-index: 0;
}

img{
    align-items: center;
    padding-left: 20%;
    width: 1200px;
}

button{
    background-color: #FDF6F6;
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #AD1B20;
    border-color: #AD1B20;
    text-align: center;
    margin: auto;
    width: 400px;
    font-size: 35px;
    border-style: dotted;
    display: inline;
}

#snavb{
 position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #FDF6F6;
  font-family: "Nova Slim", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #AD1B20;
  border: 2px dotted #AD1B20;
  font-size: 25px;
  cursor: pointer;
  z-index: 9;
  display: inline;
  width: 160px;
}